.body{
    font-family: Verdana;
}

.gallery-container{
    margin-top: 15px;
    width: 90%;
    margin: 5px auto;
}
.gallery-header{
    text-align: center;
}
.gallery-container .gallery-images{
    columns: 3 150px;
    gap: 5px;
}
.gallery-container .gallery-images img{
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
}

.background1{
    background-image: url(../masonry/neom-w-yuRFSkbVw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

footer{
    text-align: center;
}
.footer{
    text-align: center;
}